<div class="container-fluid bg-dark">
    <div class="d-flex vh-100 justify-content-center align-items-center">
        <div class="login text-center">
            <div class="logo text-center mt-5 d-block mb-5">
                <img src="assets/img/khoshgolpo.png" alt="khoshgolpo logo" class="img-fluid w-75">
            </div>
            <button class="btn-dark btn btn-lg text-white text-center mb-5 " (click)="loginwithgoogle() "><i class="bi bi-google"></i> Log In With Google</button>
            <div class="mb-5">Developed By <a href="" class="text-decoration-none"><i>Abdul Kyume</i></a></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>