<header class="bg-black p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-6 text-start">
        <strong class="d-inline-block me-3"
          ><i class="bi bi-justify text-white"></i
        ></strong>
        <a routerLink="/profile" class="text-decoration-none text-white"><img src="assets/img/khoshgolpo.png" alt="khoshgolpo" class="img-fluid w-25"></a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 text-end align-content-center justify-content-end align-items-center d-flex">
        <strong class="d-inline-block"
          ><i class="bi bi-box-arrow-right text-white" (click)="logout()"></i></strong>
      </div>
    </div>
  </div>
</header>
<section class="bg-dark vh-100 d-flex justify-content-center align-content-center align-items-center ">
  <div
    class="d-flex justify-content-center align-content-center align-items-center flex-column bg-danger w-25 ms-auto me-auto p-5"
  >
    <div><img class="img-fluid" id="userpic"/></div>
    <div class="text-white text-center mt-4">{{userinfo.displayName}}</div>
    <div>
      <ul class="list-unstyled text-center">
        <li class="d-inline-block ms-5 me-5 mt-5">
          <a routerLink="/friends"><i class="bi bi-people-fill text-white"></i></a>
        </li>
        <li class="d-inline-block ms-5 me-5">
          <a routerLink="/addfriend"><i class="bi bi-person-plus-fill text-white"></i></a>
        </li>
        <li class="d-inline-block ms-5 me-5 mb-5">
          <a routerLink="/chat"><i class="bi bi-chat-dots-fill text-white"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
