<header class="bg-black p-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-6 text-start">
        <a routerLink="/profile" class="text-decoration-none text-white d-inline-block"><img src="assets/img/khoshgolpo.png" alt="khoshgolpo" class="img-fluid logo"></a>
      </div>
      <div class="col-lg-6 col-md-6 col-6 text-end align-content-center justify-content-end align-items-center d-flex">
        <strong class="d-inline-block" title="LogOut"
          ><i class="bi bi-box-arrow-right text-white" (click)="logout()"></i></strong>
      </div>
    </div>
  </div>
</header>
<section class="bg-dark d-flex justify-content-center align-items-center " style="height: 93vh;">
  <div
    class="d-flex justify-content-center align-items-center flex-column ms-auto me-auto p-lg-5 bg-main"
  >
    <div class="mt-5"><img class="img-fluid" id="userpic"/></div>
    <div class="text-white text-center mt-4">{{userinfo.displayName}}</div>
    <div class="">
      <ul class="list-unstyled">
        <li class="d-inline-block ms-lg-5 me-lg-5 mt-5 ms-5 me-5" title="Friends">
          <a routerLink="/friends"><i class="bi bi-people-fill text-white"></i></a>
        </li>
        <li class="d-inline-block ms-lg-5 me-lg-5 ms-5 me-5" title="Add Friends">
          <a routerLink="/addfriend"><i class="bi bi-person-plus-fill text-white"></i></a>
        </li>
        <li class="d-inline-block ms-lg-5 me-lg-5 ms-5 me-5 mb-5" title="Message">
          <a routerLink="/chat"><i class="bi bi-chat-dots-fill text-white"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
